<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/lux/bootstrap.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/courses.html">Courses</a> |
        <a href="/contact.html">Contact</a>
      </nav>
      <h1>Welcome to Confetti Cuisine</h1>
      <img src="https://assets.epicurious.com/photos/61f4241faf69e17e85831285/1:1/w_320%2Cc_limit/Meatloaf_RECIPE_20220125_2027_V1_final.jpg" alt="Featured Dish" />
</body>
</html>